<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness</title>
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- <link rel="stylesheet" href="./src/style/style.css" /> -->
  </head>
  <body>
    <div class="container profileData">
        <form class="profileData__form" id="profileData-form" >
          <h1>Profile for Trainer</h1>

         
          <label for="fullname">Full Name:</label>
          <input
            type="text"
            id="fullname-profileform"
            name="fullname"
            class="fullname"
            placeholder="fullname"
            required
          />
          <label for="description">Description:</label>
          <textarea type="text"
          id="description-profileform"
          name="description"
          class="description"
          placeholder="description"
          required>
            
          </textarea>

          <label for="photoInput">Choose a photo:</label>
          <input type="file" id="photoInput" name="photo" accept="image/*">
           
          
          <label for="minimum_charge">Minimum Charge:</label>
          <input
            type="text"
            id="minimumcharge-profileform"
            name="minimumcharge"
            class="minimumcharge"
            placeholder="Minimum charge"
            required
          />

          <label for="available_time">Available Time:</label>
          <input
          type="text"
          id="availabletime-profileform"
          name="availabletime"
          class="available-time"
          placeholder="Available time"
          required
        />

        <label for="address">Address:</label>
        <input
        type="text"
        id="address-profileform"
        name="address"
        class="address"
        placeholder="Address"
        required
      />

      <label for="specialization">Specialization:</label>
        <select id="specialization-profileform" name="specialization" required>
          <option value="" disabled selected>specialization</option>
          <option value="powerlifting">Powerlifting</option>
          <option value="cardio">Cardio</option>
          <option value="yoga">Yoga</option>
            <option value="crossfit">CrossFit</option>
          <option value="aerobics">Aerobics</option>
          <option value="weightlifting">Weightlifting</option>
         
        </select>
           
        </select>
      <label for="experience">Experience:</label>
      <input
        type="text"
        id="experience-profileform"
        name="experience"
        class="expreience"
        placeholder="Experience years"
        required
      />
      <label for="contact_number">Contact Number:</label>
      <inputY
      type="tel"
      id="contact-profileform"
      name="contact"
      class="contact"
      placeholder="Contact Number"
      required
    />
          <button class="addProfile-btn" type="submit" id="">
            Add Profile
          </button>
          <button class="signup btn" type="submit" id="signup-btn">
            Update Profile
          </button>
          <button class="signup btn" type="submit" id="signup-btn">
          Delete
          </button>
        </form>
      </div>
    </div>

    <div class="successContainer"></div>
    <script type="module" src="./main.ts"></script>
  </body>
</html>
