.form-control {
  width: 70%;
  @include flex(row, space-between);
  position: relative;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 15px;
  min-height: 750px;
}
.form-control .form-left {
  flex-basis: 30%;
  border-radius: 15px 0 0 15px;
  border-right: none;
  max-width: 350px;
  position: relative;
}
.form-control .form-left .eros {
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form-control .divider {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  height: 75%;
  width: 3px;
  background-color: black;
}
.form-control .form {
  display: flex;
  flex-direction: column;
  padding: 80px 150px;
  border-radius: 0 15px 15px 0;
  gap: 25px;
}
.form-control .form input {
  display: block;
  padding: 40px 5px 5px;
  width: 100%;
  border: none;
  background-color: whitesmoke;
  color: chocolate;
  border-bottom: 1px solid black;
}
.form-control .form input:active,
.form-control .form input:focus,
.form-control .form input:hover {
  outline: none;
  border-bottom: 1px solid black;
}
.form-control .form .btn {
  background-color: #e0dcb9;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.form-control .form.hidden {
  display: none;
}
