.profile {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Adjust the minimum and maximum width as needed */
  grid-gap: 20px; /* Adjust the gap between items as needed */
  &__card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    min-height: 600px;
    @include flex(column, center);
    gap: 15px;
    margin: 15px 15px;
  }
  &__image {
    height: 100px;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(238, 194, 113);
    position: relative;
    &--imageWrapper {
      background-color: #eee;
      height: 170px;
      width: 170px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        background-color: #eee;
        height: 100px;
        width: 170px;
        border-radius: 50%;
        border: 4px solid black;
      }
    }
  }

  &__content {
    @include flex(column, center);
    gap: 20px;
    padding: 20px;
    text-align: center;
    p {
      font-size: 18px;
      line-height: 1.5;
      color: #555;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 5px;
      color: #333;
    }
    h5 {
      font-size: 16px;
      color: #777;
    }
  }

  &__button {
    margin: 40px;
    button {
      font-weight: 700;
      border: none;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      font-size: 24px;
      padding: 20px 25px;
      color: $black;
      background: orange;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
