<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness</title>
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>
  <body>
    <div class="form-control">
      <div class="form-left" id="form-img">
        <img
          src="../../assets/images/logo-bottom.jpg"
          alt="gym"
          class="logo-bottom"
        />
      </div>
      <div class="divider"></div>
      <div class="form-right">
        <form class="signup-form form" id="signup-form">
          <div
            id="signup-success-message"
            class="d-none alert alert-success"
          ></div>
          <h1>Create Account</h1>

          <input
            type="text"
            id="username-signup"
            name="username"
            class="username"
            placeholder="Username"
            required
          />

          <input
            type="text"
            id="email-signup"
            name="email"
            class="email"
            placeholder="Email"
            required
          />

          <input
            type="password"
            id="password-signup"
            name="password"
            class="password"
            placeholder="Password"
            required
          />

          <button class="signup btn" type="submit" id="signup-btn">
            Sign up
          </button>

          <p>
            Already have an account?
            <a href="./../login/" id="login-anchor">log in</a> instead.
          </p>
        </form>
        <div class="main-page">
          <a href="./../front_page/" id="redirect-frontpage">click here</a> to
          goback to frontpage.
        </div>
      </div>
    </div>

    <script type="module" src="./main.ts"></script>
  </body>
</html>
