<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <div class="container">
      <div class="background-image">
        <div class="container__title">
          <h1>
            TO BE THE BEST <br />YOU HAVE TO TRAIN <br />
            WITH THE BEST
          </h1>
        </div>
        <div class="container__desc">
          <h1>Your personal Trainer is here...</h1>
          <h4>
            Find affordable personal trainer worldwide and get <br />
            personalized training in the palm of yur hand.
          </h4>
        </div>
        <div class="container__button">
          <button id="findTrainerBtn">Find a Trainer</button>
          <!-- <button>Sign Up</button> -->
        </div>
      </div>
    </div>
    <script type="module" src="./main.ts"></script>
  </body>
</html>
